# EDA with Pandas

- To install pandas: pip install pandas

In [1]:
# !pip install pandas

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Telco-churn data info:
```
State: the US state in which the customer resides, indicated by a two-letter abbreviation
Account Length: the number of days that this account has been active
Area Code: the three-digit area code of the corresponding customer’s phone number
Phone: the remaining seven-digit phone number
Int’l Plan: whether the customer has an international calling plan: yes/no
VMail Plan: whether the customer has a voice mail feature: yes/no
VMail Message: presumably the average number of voice mail messages per month
Day Mins: the total number of calling minutes used during the day
Day Calls: the total number of calls placed during the day
Day Charge: the billed cost of daytime calls
Eve Mins: the total number of calling minutes used during the evening
Eve Calls: the total number of calls placed during the evening
Eve Charge: the billed cost of evening time calls
Night Mins: the total number of calling minutes used during the night
Night Calls: the total number of calls placed during the night
Night Charge: the billed cost of nighttime calls
Intl Mins: the total number of international minutes
Intl Calls: the total number of international calls
Intl Charge: the billed cost for international calls
CustServ Calls: the number of calls placed to Customer Service
Churn?: whether the customer left the service: true/false
```

In [3]:
df = pd.read_csv("telco_churn.csv")
df.head(20)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
5,AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6,1.70,0.0,False
6,MA,121,510,No,Yes,24,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7,2.03,3.0,NaN
7,MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6,1.92,0.0,False
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,222.0,111.0,18.87,326.4,97.0,14.69,11.2,5,3.02,0.0,False
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,83.0,19.42,208.8,111.0,9.40,12.7,6,3.43,4.0,True
11,RI,74,415,No,No,0,187.7,127.0,31.91,163.4,148.0,13.89,196.0,94.0,8.82,9.1,5,2.46,0.0,False
12,IA,168,408,No,No,0,NaN,NaN,NaN,104.9,71.0,8.92,141.1,128.0,6.35,11.2,2,3.02,1.0,False
13,MT,95,510,No,No,0,NaN,NaN,NaN,247.6,75.0,21.05,192.3,115.0,8.65,12.3,5,3.32,3.0,False
14,IA,62,415,No,No,0,NaN,NaN,NaN,307.2,76.0,26.11,203.0,99.0,9.14,13.1,6,3.54,4.0,False
15,NY,161,415,No,No,0,NaN,NaN,NaN,317.8,97.0,27.01,160.6,128.0,7.23,5.4,9,1.46,4.0,True
16,ID,85,408,No,Yes,27,NaN,NaN,NaN,280.9,90.0,23.88,89.3,NaN,4.02,13.8,4,3.73,1.0,False
17,VT,93,510,No,No,0,NaN,NaN,NaN,218.2,111.0,18.55,129.6,121.0,5.83,8.1,3,2.19,3.0,False
18,VA,76,510,No,Yes,33,NaN,NaN,NaN,212.8,65.0,18.09,165.7,108.0,7.46,10.0,5,2.70,1.0,False
19,TX,73,415,No,No,0,NaN,NaN,NaN,NaN,88.0,13.56,192.8,74.0,8.68,13.0,2,3.51,1.0,False

In [5]:
df.isnull().sum()

State                      0
Account length             0
Area code                  0
International plan         0
Voice mail plan            0
Number vmail messages      0
Total day minutes         10
Total day calls           10
Total day charge          18
Total eve minutes          9
Total eve calls            8
Total eve charge           0
Total night minutes        0
Total night calls          1
Total night charge         0
Total intl minutes         0
Total intl calls           0
Total intl charge          5
Customer service calls     5
Churn                      8
dtype: int64

In [6]:
df_processed = df.copy()
df_processed.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.7,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.7,1.0,False

#### Remove sample which don't contain the Churn data:

In [24]:
# df.info() # 3333 number of total rows (sample)
type(df["Churn"][1])

bool

## Conditional indexing and handling the missing data:

In [32]:
df[df["International plan"]=="No"]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
6,MA,121,510,No,Yes,24,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7,2.03,3.0,NaN
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,68.0,16.12,221.4,128.0,9.96,11.8,5,3.19,2.0,False
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

#### Missing data identification:

In [4]:
df[df["Churn"].isnull()] # to get the rows with missing Churn values

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
6,MA,121,510,No,Yes,24,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7,2.03,3.0,NaN
22,AZ,130,415,No,No,0,183.0,112.0,31.11,72.9,99.0,6.20,181.8,78.0,8.18,9.5,19,2.57,0.0,NaN
29,HI,49,510,No,No,0,119.3,117.0,20.28,215.1,109.0,18.28,178.7,90.0,8.04,11.1,1,3.00,1.0,NaN
138,AK,127,510,No,Yes,36,183.2,117.0,31.14,126.8,76.0,10.78,263.3,71.0,11.85,11.2,8,NaN,NaN,NaN
139,NV,113,415,No,Yes,23,205.0,101.0,34.85,152.0,60.0,12.92,158.6,59.0,7.14,10.2,5,NaN,NaN,NaN
140,DE,110,510,No,No,0,148.5,115.0,25.25,276.4,84.0,23.49,193.6,112.0,8.71,12.4,3,NaN,NaN,NaN
141,MD,120,415,No,Yes,39,200.3,68.0,34.05,220.4,97.0,18.73,253.8,116.0,11.42,10.5,4,NaN,NaN,NaN
142,MI,157,415,No,Yes,28,192.6,107.0,32.74,195.5,74.0,16.62,109.7,139.0,4.94,6.8,5,NaN,NaN,NaN

#### Removing missing data:

In [38]:
# remove all the rows (samples) which contain any missing data (column).
# df.dropna().isnull().sum()
df.dropna().isna().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [39]:
# remove all the rows in which Churn (column) data is missing
# df.dropna(subset=["Churn"]).isnull().sum()
df.dropna(subset=["Churn"]).isna().sum()

State                      0
Account length             0
Area code                  0
International plan         0
Voice mail plan            0
Number vmail messages      0
Total day minutes         10
Total day calls           10
Total day charge          18
Total eve minutes          9
Total eve calls            8
Total eve charge           0
Total night minutes        0
Total night calls          1
Total night charge         0
Total intl minutes         0
Total intl calls           0
Total intl charge          0
Customer service calls     0
Churn                      0
dtype: int64

In [44]:
df[~df["Churn"].isna()].isna().sum()

State                      0
Account length             0
Area code                  0
International plan         0
Voice mail plan            0
Number vmail messages      0
Total day minutes         10
Total day calls           10
Total day charge          18
Total eve minutes          9
Total eve calls            8
Total eve charge           0
Total night minutes        0
Total night calls          1
Total night charge         0
Total intl minutes         0
Total intl calls           0
Total intl charge          0
Customer service calls     0
Churn                      0
dtype: int64

In [45]:
df_processed.dropna(subset=["Churn"], inplace=True)
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3325 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3325 non-null   object
 1   Account length          3325 non-null   int64
 2   Area code               3325 non-null   int64
 3   International plan      3325 non-null   object
 4   Voice mail plan         3325 non-null   object
 5   Number vmail messages   3325 non-null   int64
 6   Total day minutes       3315 non-null   float64
 7   Total day calls         3315 non-null   float64
 8   Total day charge        3307 non-null   float64
 9   Total eve minutes       3316 non-null   float64
 10  Total eve calls         3317 non-null   float64
 11  Total eve charge        3325 non-null   float64
 12  Total night minutes     3325 non-null   float64
 13  Total night calls       3324 non-null   float64
 14  Total night charge      3325 non-null   float64
 15  Total intl minutes      3325 non-null   float64
 16  Total intl calls        3325 non-null   int64
 17  Total intl charge       3325 non-null   float64
 18  Customer service calls  3325 non-null   float64
 19  Churn                   3325 non-null   object
dtypes: float64(12), int64(4), object(4)
memory usage: 545.5+ KB

#### Fill the numeric missing values by their respective column mean values:

In [49]:
df_processed["Total eve calls"].mean()

100.13898100693397

In [48]:
df_processed.mean(numeric_only=True)

Account length            101.029173
Area code                 437.121504
Number vmail messages       8.073383
Total day minutes         179.783590
Total day calls           100.449774
Total day charge           30.557212
Total eve minutes         201.034138
Total eve calls           100.138981
Total eve charge           17.083549
Total night minutes       200.888541
Total night calls         100.120638
Total night charge          9.040066
Total intl minutes         10.238105
Total intl calls            4.474586
Total intl charge           2.764797
Customer service calls      1.563308
dtype: float64

In [57]:
# df_processed["Total day minutes"].mean()

# syntax to fill the column missing values by it's mean
# df.loc[row_index,column_index] = fill_up_value

df_processed.loc[ df_processed["Total day minutes"].isna() , "Total day minutes"] = df_processed["Total day minutes"].mean()
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3325 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3325 non-null   object
 1   Account length          3325 non-null   int64
 2   Area code               3325 non-null   int64
 3   International plan      3325 non-null   object
 4   Voice mail plan         3325 non-null   object
 5   Number vmail messages   3325 non-null   int64
 6   Total day minutes       3325 non-null   float64
 7   Total day calls         3315 non-null   float64
 8   Total day charge        3307 non-null   float64
 9   Total eve minutes       3316 non-null   float64
 10  Total eve calls         3317 non-null   float64
 11  Total eve charge        3325 non-null   float64
 12  Total night minutes     3325 non-null   float64
 13  Total night calls       3324 non-null   float64
 14  Total night charge      3325 non-null   float64
 15  Total intl minutes      3325 non-null   float64
 16  Total intl calls        3325 non-null   int64
 17  Total intl charge       3325 non-null   float64
 18  Customer service calls  3325 non-null   float64
 19  Churn                   3325 non-null   object
dtypes: float64(12), int64(4), object(4)
memory usage: 545.5+ KB

In [8]:
## fillup all the numeric missing values by their respective mean values
numeric_columns = ['Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls']

# numeric_columns = df_processed.select_dtypes(include=np.number).columns.tolist()

for col in numeric_columns:
    df_processed.loc[ df_processed[col].isna() , col] = df_processed[col].mean()

df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   float64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   float64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   float64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3328 non-null   float64
 18  Customer service calls  3328 non-null   float64
 19  Churn                   3325 non-null   object
dtypes: float64(12), int64(4), object(4)
memory usage: 520.9+ KB

### Use of .apply():

In [9]:
df2 = df.copy()
df2.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

In [10]:
df2["Account length"].apply(lambda x: 2*x)

0       256
1       214
2       274
3       168
4       150
       ...
3328    384
3329    136
3330     56
3331    368
3332    148
Name: Account length, Length: 3333, dtype: int64

#### fill up all the numeric columns by their respective mean values:

In [67]:
df2 = df2.apply(lambda col: col.fillna(col.mean()) if col.dtype in ['int','float'] else col)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   float64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   float64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   float64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   float64
 19  Churn                   3325 non-null   object
dtypes: float64(12), int64(4), object(4)
memory usage: 520.9+ KB